{% extends 'base.html' %}
{% load static %}
{% block page-wrapper %}
    <div class="page-wrapper">
        <div class="hero">
            <form method="GET" action="{% url 'search' %}">
                <h1>Search IP Adress and Host Name Details</h1>
                <div class="row">
                    <div class="col-2"></div>
                    <div  class="d-flex group-form col-7">
                        {% if search_detial != '' %}
                            <input type="text" class="form-control" placeholder="IP Adress/Host Name" name="search" value="{{search_detial}}">
                        {% else %}
                            <input type="text" class="form-control" placeholder="IP Adress/Host Name" name="search">
                        {% endif %}
                        <button type="submit" class="">Search</button>
                    </div>
                </div>
            </form>
            {% block search_result %}
                               
            {% endblock %}
        </div>
        <div class="container">
            <div class="row">
                <main class="col-8 mian-contents">
                    <article id="why_tis_website">
                        <h1>Why use this website?</h1>
                        <p>You can do many thing in this website as your target</p>
                        <p>1. Security: This websites help you locate and identify the IP addresses of individuals or entities that may be trying to hack your system or steal your personal information. <br>

                            2. Marketing: This websites can help online marketers and businesses track the geographical location of their visitors and customers, which can help them tailor their marketing campaigns and promotional offers accordingly. <br>
                            
                            3. Website Optimization: Can provide valuable insights into visitor behavior, which can help website owners optimize their website for better user experience and increased engagement. <br>
                            
                            4. Monitoring Online Activity: Can help you keep track of the online activity of your children, employees, or partners, which can help you identify any suspicious or unauthorized activity. 
                            
                            Overall, using tracking IP websites can provide valuable information regarding online activity and help improve security, marketing, and website optimization.</p>
                    </article>
                    <article id="search_dt">
                        <h1>The imfomations you can see when you search.</h1>
                        <p>The resault when you are shearched by using host name or IP Address</p>
                        <ul>
                            <li>Ip Address</li>
                            <li>Local Host Name</li>
                            <li>Region of the country</li>
                            <li>Coutry Name</li>
                            <li>Country Code</li>
                            <li>City</li>
                            <li>Country Calling Code</li>
                            <li>Organizaton of the internet service</li>
                            <li>Latitude</li>
                            <li>Longitude</li>
                            <li>Location as Map</li>
                        </ul>
                        
                    </article>
                    <article id="ip_lookup">
                        <h1>What is an "IP Lookup" ?</h1>
                        <p>An IP Lookup is defined as finding the geographical location (or related information like currency, timezone etc.) of an IP address. The lookup can be done either with our API or website. For example, with a plan of 60,000 IP Lookups / month, you can find the location of 60,000 IP addresses in a month. Each conversion of IP address to location is counted as a lookup (repeat queries of the same IP address counts as a separate lookup).</p>     
                    </article>
                    <article id="ip_address">
                        <h1>What is an IP-Address ?</h1>
                        <p>An IP address (Internet Protocol address) is a numerical label assigned to each device connected to a computer network that uses the Internet Protocol for communication. It serves two main purposes: host or network interface identification and location addressing. IP addresses come in two versions: IPv4 (e.g., 192.168.1.1) and IPv6, which is designed to address the exhaustion of IPv4 addresses.</p>
                    </article>
                </main>
                <aside class="col-4 text-end">
                    <h2>Quik Access</h2>
                    <ul>
                        <li><a href="#why_tis_website">why this website?</a></li>
                        <li><a href="#search_dt">Search Detials</a></li>
                        <li><a href="#ip_lookup">What is an IP-Lookup</a></li>
                        <li><a href="#ip_address">What is IP-Adress</a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
{% endblock %}