@import url('https://fonts.googleapis.com/css2?family=Charm&family=Gabarito&family=Kanit:wght@100&family=Noto+Sans+Lao:wght@200&family=Roboto+Condensed:wght@300&display=swap');
/* Custom CSS */
*{
    font-family: 'Noto Sans Lao', sans-serif;
}
body {
    margin: 0;
    /* font-family: "Goudy Bookletter 1911", sans-serif; */
    color: #333;
  }

  
  nav {
    background-color: #0074D9;
    padding: 20px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links li a {
    color: #FFF;
    text-decoration: none;
  }
  
  .hero {
    background-color: #F1F1F1;
    padding: 100px 0;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero form {
    display: inline-block;
  }
  
  .hero input[type="text"] {
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    width: 70%;
  }
  
  .hero button {
    padding: 10px 20px;
    background-color: #0074D9;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #FFF;
    cursor: pointer;
  }
  
  .searches {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .searches a {
    background-color: #0074D9;
     color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  footer {
    background-color: #DDD;
    padding: 20px 0;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }

  
/* Custom CSS */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  main {
    flex: 2;
  }
  
  aside {
    flex: 1;
  }
  
  article {
    margin-bottom: 50px;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  ul li a {
    text-decoration: none;
    color: #0074D9;
  }

  #map {
    height: 100rem;
  }
  
  footer {
    background-color: #DDD;
    padding: 20px 0;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  
  .mian-contents article ul li{
    list-style: circle;
  }
  .dropdown ul li a {
    color: #333;
  }
  
  .pro-card .img {
    margin: auto;
    height: 10em;
    width: 10em;
    overflow: hidden;
    border-radius: 50%;
  }
  .pro-card .icon i{
    font-size: 30px;
  }
  .pro-card .bi-facebook {
    color: #0074D9;
  }
  .pro-card .bi-instagram {
    color: #ff9720;
  }
  .pro-card .bi-tiktok {
    color: #000000;
  }